{% extends 'baseEmail.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
    <div class="container jumbotron responsive">
        <h1>Modification mot de passe</h1>
        <p>Bonjour Madame,Monsieur</p>
        <p>Voici votre nouveau mot de passe {{ nouveauPass }}</p>
        <p>Merci de le modifier rapidement dans votre espace personnel</p>
    </div>
{% endblock %}
