{% extends 'base.html.twig' %}
{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cocktail sans alcool</h1>
            <p>Vous êtes fan des cocktails mais vous ne buvez pas d'alcool ?</p>
            <p>Alors venez essayer nos cocktails sans alcool!!</p>
            <h2 class="titre_cocktails_sans_alcool">Liste des cocktails sans alcool</h2>
        </div>
    </div>

{% endblock %}
