{% extends 'base.html.twig' %}

{% form_theme formreset 'bootstrap_4_layout.html.twig' %}
{% block main %}
    <div class="container_inscription responsive">
        <div class="jumbotron container">
            <h2>Réinitialisation mot de passe</h2>
            <p>Merci de rentrer l'email correspondant à votre compte</p>
            {{ form_start(formreset) }}
                {{ form_widget(formreset) }}
            <input class="btn btn-primary" type="submit" />
            {{ form_end(formreset) }}
            <p>Vous recevrez ensuite un email avec nouveau mot de passe </p>
        </div>
    </div>
{% endblock %}