{% extends 'base.html.twig' %}

{% block main %}
    <div id="bloc_pageAccueil" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenue!!</h1>
            <p class="lead">Ce site web est un endroit de partage entre barman amateur et professionnel</p>
            <p class="lead">Vous pourrez y découvrir des recettes de cocktails, l'histoire et l'élaboration des spiritueux, une carte regroupant les
                bars à découvrir et également les événements se déroulant partout en france </p>
            <p class="lead">Alors n'hésitez plus et venez partager avec nous!</p>
        </div>
        <div class="card text-center" id="container_actualite">
            <div class="card-header">
                <h2>Actualités</h2>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Prochain ajout:</strong></p>
                <p>Mojito</p>
                <p>Tequila sunrise</p>
                <p>Aperol spritz</p>
            </div>
        </div>
    </div>
{% endblock %}