{% extends 'base.html.twig' %}

{% block main %}
    <div class="jumbotron jumbotron-fluid responsive">
        <div class="container">
            <div class="container_spiritueux">
                <h1 class="display-4">Le Rhum</h1>
                {% for AffichageRhum in AffichageRhum %}
                    <h2>Histoire</h2>
                    <p>{{ AffichageRhum.histoire }}</p>
                    <h2>Son elaboration</h2>
                    <p>{{ AffichageRhum.elaboration|raw }}</p>
                    <h2>Les lieux de production</h2>
                    <p>{{ AffichageRhum.lieuproduction }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
